{% extends "webhome/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}{{ title }}{% endblock %}
{% block content %}

     <div class="card-body post-content my-md-5 py-md-5">

<p class="form-control medium text-center">{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
</p>
<div class="card-body pl-1 text-center p-5">
<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="field-email">
        {{ form.email.errors }}
        <label class="medium mb-1 ml-0 mr-3" for="id_email">{% translate 'Email address:' %}</label>
        {{ form.email }}

    </div>
    <div class="form-group container-fluid flex  align-items-center justify-content-center mt-4 mx-md-5 pl-md-5 mb-0">
      <a class="small btn btn-success" href={% url 'login' %}>Return to login</a>
    <input class="btn btn-success" type="submit" value="{% translate 'Reset my password' %}">
  </div>

</fieldset>
</form>
</div>
    </div>

{% endblock %}
