{% extends "webhome/base.html" %}
{% load i18n %}
{% load static %}



{% block head %}{{ title }}{% endblock %}

{% block content %}

{% if validlink %}
<div class="card-body post-content my-md-5 py-md-5">

<p class="form-control medium text-center">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned row text-center container-fluid row">



    <div class="form-group field-password1 fluid-width col-12">
        {{ form.new_password1.errors }}
        <label class="medium mb-1 ml-3 mr-4" for="id_new_password1">{% translate 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-group field-password2 fluid-width col-12">
        {{ form.new_password2.errors }}
        <label class="medium mb-1 ml-3" for="id_new_password2">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2 }}

    </div>
    <div class="form-group container-fluid flex  align-items-center justify-content-between mt-4 ml-md-5 pl-md-5 mb-0">
    <input class="btn btn-success mt-auto" type="submit" value="{% translate 'Change my password' %}">
    </div>
</div>
</fieldset>
</form>

{% else %}
         <div class="card-body post-content my-md-5 py-md-5">

<p class="form-control medium text-center">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

         </div>

{% endif %}

{% endblock %}
