{% extends "base.html" %}
{% load static %}


{% block content %}
        <link rel="stylesheet" href="{% static "css/style.css"%}">
   <form method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label for="username">Username:</label>
    {{ form.username }}
  </div>
  <div class="form-group">
    <label for="father_name">Father name:</label>
            {{ form.father_name }}
  </div>
  <div class="form-group">
    <label for="mother_name">Mother name:</label>
            {{ form.mother_name }}
  </div>
       <div class="form-group">
    <label for="phone">Phone name:</label>
            {{ form.phone }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>










        {% for foo in messages %}
        {{ foo }}
        {% endfor %}












{% endblock %}